<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/rtmp.css">

  <!-- Docsearch CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />

  <title>
    {{ if .IsHome }}
    {{ .Title }}
    {{ else }}
    {{ .Title }} · RTMP
    {{ end }}
  </title>
</head>

  <header class="tk-navbar-sticky">
    <div class="navbar navbar-dark navbar-expand d-flex tk-navbar">
      <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="/">
          <img src="/img/RTMP_logo-1-small.png">
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- {{ $docs := index (.Site.Menus.docs) 0 }} -->
            {{ $isDocs := hasPrefix .URL "/docs" }}
            <a class="nav-link {{ if $isDocs }} active {{ end }}" href="/docs/">Documentation</a>
          </li>
          <li class="nav-item">
            {{ $isTools := hasPrefix .URL "/tools" }}
            <a class="nav-link {{ if $isTools }} active {{ end }}" href="{{ ref . "/tools.md" }}">Tools</a>
          </li>
          <li class="nav-item">
            {{ $isHistory := hasPrefix .URL "/history" }}
            <a class="nav-link {{ if $isHistory }} active {{ end }}" href="{{ ref . "/history/timeline.md" }}">History</a>
          </li>
        </ul>
      </div>

      <ul class="navbar-nav flex-column ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-link p-2" href="https://github.com/veriskope/rtmp-website" target="_blank" rel="noopener"
            aria-label="GitHub">
            <svg class="navbar-nav-svg" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 499.36" focusable="false">
              <title>GitHub</title>
              <path
                d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"
                fill="currentColor" fill-rule="evenodd" />
            </svg>
          </a>
        </li>
      </ul>

    </div>

    {{ block "headcrumbs" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}

  </header>


  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}

  <footer class="tk-footer">
    <div class="container-fluid p-3 p-md-5">
      <ul class="tk-footer-links">
        <li>See source on <a href="https://github.com/veriskope/rtmp-website">GitHub <i class="fa fa-github"></i></a>. Contributors welcome :-)</li>
      </ul>
      <p>Created by the RTMP experts at <a href="https://www.veriskope.com/">Veriskope <img src="/img/veriskope.gif" style="max-width: 20px;" /></a></p>
    </div>
  </footer>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/highlight.js"></script>
    <script>
      $(function () {
        $("pre code").each(function(i, block) {
          // $(block).parent().wrap('<div class="tk-example"></div>');
          if (block.className.indexOf('language-rust') >= 0) {
            var new_content = '';
            var lines = block.textContent.split('\n');
            for (var i = 0; i < lines.length; i++) {
              if (lines[i].indexOf('# ') == 0 || lines[i] == '#') {
                continue
              }
              new_content += lines[i].trimRight() + '\n';
            }
            block.textContent = new_content.replace(/\n\n\n/g, "\n\n").trimRight();
          }
          hljs.highlightBlock(block);
        });
      });
    </script>
    <!-- at the end of the BODY -->
   <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> -->
    <script type="text/javascript"> //docsearch({
    //apiKey: 'd7b5b785798fe748621bcaa8301a2201',
    //indexName: 'veriskope',
    //inputSelector: '#search-input',
    //debug: false // Set debug to true if you want to inspect the dropdown
    //});
    </script>
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
