{{ partial "header" . }}

<main class="tk-masthead">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-5 mx-auto col-md-5 order-md-2">
        <img class="img-fluid mb-3 mb-md-0 tk-logo" src="/img/vid_stream_icon-1024x1024.png" alt="">
      </div>
      <div class="col-md-7 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3 tk-text-big">RTMP</h1>
        <p class="lead">
          Real Time Messaging Protocol (RTMP) was designed to support very low-latency for interactive, multiparty applications with seamless integration of live or recorded video, as well as broadcast streaming, video on demand (VOD) use cases.
        </p>
      
        <div class="d-flex flex-column flex-md-row lead mb-3">
          <a href="{{ ref . "/docs/overview.md" }}" class="btn btn-lg btn-tk-primary mb-3 mb-md-0 mr-md-3">Get started</a>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="masthead-followup row m-0 border border-white">
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3>
      <i class="fa fa-space-shuttle" aria-hidden="true"></i>
      About the Protocol
    </h3>
    <p>RTMP Technology is the best video/audio stream protocol supporting the following features: </p>
    <ul>
      <li>Live and on-demand </li>
      <li>Low-latency </li>
      <li>Streaming </li>
      <li> Interactivity</li>
      <li> Two-way (mux, demux)</li>
      <li> Audio/Video/Data channels        </li>
    </ul>

    <hr class="half-rule">
    <a class="btn btn-outline-primary" href="/docs/overview/#fast">Learn more</a>
  </div>

  <!--  style="text-decoration: line-through" -->
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3>
      <i class="fa fa-youtube" aria-hidden="true"></i>
      De-Facto Standard
    </h3>

    <p>
      RTMP is the primary standard all major live streaming services support, including but not limited to:
    </p>

    <ul>
      <li>YouTube</li>
      <li>Facebook</li>
      <li>Twitch </li>
      <li>Mux</li>
      <li>Wirecast</li>
      <li>XSplit</li>
    </ul>

    <hr class="half-rule">
    <a class="btn btn-outline-primary" href="/docs/overview/#reliable">Learn more</a>
  </div>

  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <h3>
      <i class="fa fa-leaf" aria-hidden="true"></i>
      Strongest ecosystem
    </h3>

    <p>
      The RTMP SDK has a strong ecosystem of tools for streaming your live audio and video. Some of them include:
    </p>

    <ul>
      <li>FFMPEG</li>
      <li>OBS Studio</li>
      <li>Wireshark</li>      
      <li>WOWZA (should we list this?)</li>   
      <li>Nginx</li>
      <li>Helix</li>
      <li>Red5</li>
      <li>VLC</li>
      <li>KODI</li>
    </ul>

    <hr class="half-rule">
    <a class="btn btn-outline-primary" href="/docs/overview/#lightweight">Learn more</a>
  </div>
</div>

<footer class="tk-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="tk-footer-links">
      <li><a href="https://github.com/veriskope/rtmp-website">GitHub</a></li>       
    </ul>
    <p>Video streaming SDK powered by <a href="https://www.veriskope.com/">Veriskope</a></p>
  </div>
</footer>

{{ partial "footer" . }}
